.wreaperForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  backdrop-filter: blur(45px);
  border-radius: 20px;
  width: 320px;
  height: 410px;
  padding: 20px;
  margin-top: 55px;
}
.wreaperForm h2 {
  font-size: 35px;
  margin: 0px;
}

.itemsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 280px;
  height: 45px;
  border-bottom: 2px solid white;
}

.itemsForm input {
  background-color: transparent;
  height: 30px;
  width: 275px;
  border: none;
  outline: none;
  color: white;
}

.itemsForm label {
  font-size: 16px;
}

.itemsForm span {
  color: #d63031;
  position: absolute;
  bottom: -27px;
  font-size: 16px;
  height: 20px;
}

.btn {
  background-color: #f8efba;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #f8efba;
  border-radius: 10px;
  color: #f8efba;
}
