.headerButton {
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.headerButton:hover {
  background-color: #ded5a3;
}

.headerInput {
  border-radius: 10px 0px 0px 10px;
  width: 85%;
  cursor: text;
}
