.headerContent {
  display: flex;
  align-items: end;
  width: 30%;
  height: 100px;
}

.headerContent > * {
  background-color: #f8efba;
  height: 35%;
  border: none;
}

.headerButton {
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.headerInput {
  border-radius: 10px 0px 0px 10px;
  width: 85%;
  cursor: text;
}
