.landing {
  color: #f8efba;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 25px;
}

.title h1 {
  font-size: 55px;
  margin: 10px 0px 10px 0px;
}
