.landing {
  color: #f8efba;
  display: flex;
  margin-top: 70px;
}

.welcome {
  text-align: center;
  font-size: 16px;
  margin: 50px 80px 0px 0px;
}

.title {
  font-size: 45px;
  margin: 10px 0px 10px 0px;
}
