.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  height: 140px;
  margin-right: 400px;
}

.routes {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routes > * {
  text-align: center;
  text-decoration: none;
  font-size: 26px;
}

.active {
  color: #00cec9;
}

.pending {
  color: white;
}
